main {
  display: flex;
  flex-direction: column;
  background-color: brown;

  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  color: #f9f4da;
}

#root,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

header {
  text-align: center;
}

header > h1,
section.game-status > h2 {
  font-size: 2rem;
  font-weight: 500;
}

header > p {
  font-size: 1.2rem;
  max-width: 350px;
  color: #8e8e8e;
}

section.game-status {
  background-color: #10a95b;
  min-width: 450px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 3.5rem;
}
section.game-status > h2 {
  margin: 4px 0 0 0;
}

section.game-status > p {
  margin: 4px 0 8px 0;
}

#lives-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 400px;
  justify-content: center;

  margin-bottom: 3.5rem;
}

#lives-div > span {
  margin: 1.5px;
  border-radius: 3px;
  padding: 4.5px;
}
